<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="ASPhtml" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" resourceType="File" preCondition="bitness64" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="home/index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
